.row {
    display: flex;
    background-color: #EEE;
    width: 40%;
    margin: 0 auto;
}

.row:hover {
    background-color: #e6e6e6;
}

.courseId {
    max-width: 10em;
    background-color: #405061;
}