.header-image {
  background-size: cover;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
}

/* Tested code here for grid view of courses */
.courses-menu {
  display: grid;
  grid: 150px / auto auto auto;
  grid-gap: 20px;
}

.courses-menu > div {
  text-align: center;
  padding: 50px ;
}

.mat-mdc-card-content {
  display: block;
  padding: 0 8px;
}