.card {
  max-width: 300px;
  cursor: pointer;
}

.header-image {
  background-size: cover;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.cards {
  display: flex;
  justify-content: space-around;
}